<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Productos</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/animate.css">

</head>
<body>
    <div class="container">
        <% const existeMensaje = typeof mensaje !== "undefined"%>

        <style>
            table, th, td {
                border-collapse: collapse;
            }
        </style>

        <% if (existeMensaje) {%>
            <div class="alert alert-primary" role="alert">
            <span class="font-weight-bold">
                MENSAJE
            </span> : <%= mensaje %>
            </div>
        <% }%>
        <h1>Panaderia PANDA</h1>
        <h1>Administracion de Productos <br></h1>
        <p>Administrar los diferentes productos de la Panaderia</p>
        <form method="get" action="/producto/productoInicio">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label for="busqueda">Busqueda</label>
                        <input id="busqueda" type="text" name="busqueda" class="form-control">
                    </div>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-outline-success btn-block" style="margin-top: 31px">
                        Buscar
                    </button>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-sm-9">
            </div>
            <div class="col-sm-3">
                <a href="/producto/crear-producto" style="text-decoration: none">
                    <button class="btn btn-outline-success btn-block">
                        Crear Producto
                    </button>
                </a>
            </div>
        </div>

        <h2>Lista de Productos</h2>
        <p>Gestionar los diferentes productos</p>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Codigo Producto</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Stock</th>
                    <th>Precio Compra</th>
                    <th>Precio Venta</th>
                    <th>Accion</th>
                </tr>
            </thead>

            <tbody>
            <% arregloPro.forEach((producto)=> {%>
                <tr>
                    <td><%= producto.codProd %></td>
                    <td><%= producto.nombreProd %></td>
                    <td><%= producto.descripcionProd %></td>
                    <td><%= producto.stock%></td>
                    <td><%= producto.precioCompra %></td>
                    <td><%= producto.precioVenta%></td>
                    <td>
                        <form action="/producto/eliminar/<%= producto.codProd%>" method="post">
                            <button class="btn btn-outline-danger btn-block" type="submit"
                                    style="margin-top: 10px; margin-bottom: 10px">
                                Eliminar
                            </button>
                        </form>
                        <a href="/producto/actualizar-producto/<%= producto.codProd%>"
                           style="text-decoration: none">
                            <button class="btn-block btn btn-outline-info">
                                Actualizar
                            </button>
                        </a>
                    </td>
                </tr>
            <% }) %>
            </tbody>
        </table>

        <script src="/js/jquery.js"></script>
        <script src="/js/popper.js"></script>
        <script src="/bootstrap/js/bootstrap.js"></script>
    </div>
</body>
</html>